body {
  background-color:#120924;
  color: #fff;
  margin: 0;
  padding: 0;
}

#content {
  text-align: center;
  /* margin-top: -4%; */ /* Comment out or adjust this line */
}

#searchbar {
  text-align: center;
  margin: 25px auto;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  width: 350px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:text;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:text;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
     

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}
